# 8086 Consultancy (8086.net) RP2040 Interfacer
ACTION=="add", ATTRS{idVendor}=="3171", ATTRS{idProduct}=="0061", RUN+="/sbin/modprobe i2c-tiny-usb" RUN+="/bin/sh -c 'echo 3171 0061 FF > /sys/bus/usb/drivers/i2c-tiny-usb/new_id'"
